<section class="welcome">
  <app-welcome-card></app-welcome-card>
</section>
<section class="search" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="12px">
  <div fxFlex="50">
    <app-search-accordion [options]="searchOnGithubOpts"></app-search-accordion>
  </div>
  <div fxFlex="50">
    <app-search-accordion [options]="searchOnBitbucketOpts"></app-search-accordion>
  </div>
</section>
<app-divider></app-divider>
<section class="about">
  <app-about-card></app-about-card>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="12px">
    <div class="chart-container" fxFlex="50">
      <app-chart [options]="sampleChartOptions"></app-chart>
    </div>
    <div class="chart-container" fxFlex="50">
      <app-chart [options]="secondSampleChartOptions"></app-chart>
    </div>
  </div>
</section>
<app-divider></app-divider>
<app-donate-bar></app-donate-bar>