@import '~@angular/material/theming';

@include mat-core();

$_primary: mat-palette($mat-grey, 900);
$_accent:  mat-palette($mat-grey, 50);
$_warning:    mat-palette($mat-red);

$theme: mat-light-theme($_primary, $_accent, $_warning);

@include angular-material-theme($theme);

$primary: $_primary;
$secondary: $_accent;
$warning: $_warning;