<mat-card class="mat-elevation-z1">
    <mat-card-title-group>
        <mat-card-title>About It</mat-card-title>
        <mat-card-subtitle>Why use git data?</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <p class="text-align">Do you ever want to take a real look of your development data? When an employee ask for your github account, are you certain of what him will see?<br><br>
        See <b>now</b> what your account says about you... with amazing charts, of course! </p>
    </mat-card-content>
</mat-card>