/* You can add global styles to this file, and also import other style files */
@import './themes/default';
@import './themes/fonts';

* {
    font-family: 'Quicksand', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

mat-card {
    border-radius: 8px !important;
}